<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pemberitahuan Balasan Baru</title>
</head>

<body>
  <h1>Halo <%= name %>,</h1>
  <p>Balasan baru telah ditambahkan ke pertanyaan Anda di video "<%= title %>".</p>
  <p>Silakan masuk ke situs web kami untuk melihat balasan dan melanjutkan diskusi.</p>
  <p>Terima kasih telah menjadi bagian dari komunitas kami!</p>
</body>

</html>